body,
html {
    padding: 0px;
    margin: 0px;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.builder {
    width: calc(60vw - 0.5px);
    height: 100vh;
    border-right: 0.25px dashed black;
}

.preview {
    width: calc(40vw - 0.5px);
    height: 100vh;
    border-left: 0.25px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll {
    overflow: auto;
    padding: 10px;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
}

.grid {
    width: calc(50px * var(--colums-in-grid));
    scale: 1;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.grid .cell {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px;
    margin: 0px;
    user-select: none;
}

.grid .elem {
    background-color: #c1c1c1;
}

.grid .bond {
    background-color: #ccc;
    font-size: larger;
}

.grid .empty {
    cursor: auto;
    background-color: transparent;
}

:root {
    --colums-in-grid: 10;
    --rows-in-grid: 10;
}
.save-btn{
    display:flex;
    position:absolute;
    z-index: 5;
    left: 0px;
    bottom: 0px;
}
.window {
    display: none;
    position: absolute;
    z-index: 100px;
    top: 100px;
    left: calc(75vw - 150px);
    background-color: white;
    border-radius: 10px;
    resize: both;
    min-width: 300px;
    min-height: 150px;
    overflow: auto;
    box-shadow: #555 1px 1px 5px;
    padding: 0px;
    margin: 0px;
}

.window-header {
    border-bottom: 1px solid black;
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
}

.window-body {
    padding: 5px;
}

.window-close-btn {
    background-color: transparent;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.window-close-btn:hover {
    color: red;
}
